.block-header {
  @media (min-width: $mobile) {
    max-width: toRem(600);
  }
  &--center{
    margin: 0 auto;
    text-align: center;
  }
  &--white {
    color: #fff;
  }
  &--big {
    @media (min-width: $mobile) {
      max-width: toRem(820);
    }
  }
  // .block-header__title
  &__title {
  }
  // .block-header__text
  &__text {
    font-size: toRem(20);
    line-height: 160%; /* 32/20 */
    @media (max-width: $mobile) {
      line-height: 156.25%; /* 25/16 */
      font-size: toRem(16);
    }
  }
  // .block-header__buttons
  &__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: toRem(12);
  }
  // .block-header__button
  &__button {
  }
  // .block-header__rating
  &__rating {
  }
}
.title {
  @include adaptiveValue("font-size", 40, 24);
  line-height: 120%; /* 48/40 */
  font-weight: 700;
  &:not(:last-child) {
    @include adaptiveValue("margin-block-end", 24, 15, 0, $containerWidth, 767.98);
  }
  &--big {
    @include adaptiveValue("font-size", 64, 30);
    line-height: 121.875%; /* 78/64 */
  }
  &--small {
    @include adaptiveValue("font-size", 36, 24);
  }
  &--mini {
    @include adaptiveValue("font-size", 32, 24);
  }
  span {
    background: $gradienColor;
    color: transparent;
    background-clip: text;
  }
}
.button {
  min-height: toRem(48);
  display: flex;
  align-items: center;
  gap: toRem(8);
  border-radius: toRem(8);
  padding-inline: toRem(20);
  background-color: $purpleColor;
  color: #fff;
  line-height: 156.25%;
  font-weight: 700;
  transition: background-color 0.3s;
  justify-self: start;
  &--icon{
    color: $mainColor;
    &::before{
      content:'';
      inline-size: toRem(16);
      block-size: toRem(17);
    }
  }
  @media (any-hover: hover) {
    &:hover {
      background-color: #a875ff;
    }
  }
  @media (max-width: $mobile) {
    inline-size: 100%;
    justify-content: center;
  }
}

//========================================================================================================================================================

.action {
  display: flex;
  gap: toRem(12);
  // .action__link
  &__link {
    transition: transform 0.3s;
    img {
      max-width: 100%;
    }
    @media (any-hover: hover) {
      &:hover {
        transform: scale(1.03);
      }
    }
  }
}
//========================================================================================================================================================
.rating {
  display: flex;
  flex-wrap: wrap;
  gap: toRem(8);
  align-items: center;
  // .rating__list
  &__list {
    display: flex;
    gap: toRem(4);
    align-items: center;
  }
  // .rating__star
  &__star {
    img {
      inline-size: toRem(18);
    }
    @media (max-width:$mobile){
      inline-size: toRem(15);
    }
  }
}

