.footer {
  @include adaptiveValue("padding-block", 44, 32);
  // .footer__container
  &__container {
  }
  // .footer__top
  &__top {
    display: grid;
    grid-template-columns: 32.258065% auto;
    gap: toRem(40);
    @media (max-width: $mobile) {
      grid-template-columns: auto;
    }
  }
  // .footer__bottom
  &__bottom {
    @include adaptiveValue("padding-block-start", 80, 40);
    border-top: toRem(1) solid rgba(120, 132, 140, 0.3);
  }
}
.top-footer {
  padding-block-end: toRem(40);
  // .top-footer__content
  &__content {
  }
  // .top-footer__logo
  &__logo {
    img {
      width: 100%;
      aspect-ratio: 105 / 37;
    }
    &:not(:last-child) {
      margin-block-end: toRem(16);
    }
  }
  // .top-footer__text
  &__text {
    font-size: toRem(14);
    line-height: 171.428571%; /* 24/14 */
    color: #313C45;
    &:not(:last-child) {
      margin-block-end: toRem(24);
    }
  }
  // .top-footer__action
  &__action {
  }
  // .top-footer__columns
  &__columns {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    @include adaptiveValue("column-gap", 100, 62);
    row-gap: toRem(40);
    @media (min-width: $mobile) {
      justify-self: end;
    }
  }
  // .top-footer__column
  &__column {
  }
}
.action {
  // .action__link
  &__link {
  }
}
.column-top-footer {
  // .column-top-footer__title
  &__title {
    line-height: 156.25%; /* 25/16 */
    font-weight: 700;
    margin-bottom: toRem(23);
  }
  // .column-top-footer__list
  &__list {
  }
  // .column-top-footer__item
  &__item {
    margin-inline-start: toRem(-3);
    &:not(:last-child) {
      margin-block-end: toRem(20);
    }
  }
  // .column-top-footer__link
  &__link {
    font-size: toRem(14);
    line-height: 171.428571%; /* 24/14 */
    font-weight: 600;
    transition: all 0.3s;
    padding: toRem(3) toRem(5);
    border-radius: toRem(8);
    position: relative;
    color: #48555F;
    &::before {
      content: "";
      inline-size: 100%;
      block-size: 100%;
      position: absolute;
      inset-block-start: 0;
      inset-inline-start: 0;
      background: $gradienColor;
      border-radius: toRem(8);
      opacity: 0;
      transition: all 0.3s;
      z-index: -1;
    }
    @media (any-hover: hover) {
      &:hover {
        color: #fff;
        &::before {
          opacity: 1;
        }
      }
    }
    span {
      padding-inline-start: toRem(10);
    }
  }
}
.bottom-footer {
  display: flex;
  flex-wrap: wrap;
  gap: toRem(20);
  align-items: center;
  justify-content: space-between;
  font-size: toRem(14);
  line-height: 171.428571%; /* 24/14 */
  font-weight: 600;
  // .bottom-footer__links
  &__links {
    display: flex;
    gap: toRem(30);
  }
  // .bottom-footer__link
  &__link {
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  // .bottom-footer__copy
  &__copy {
  }
}
