.header {
  inline-size: 100%;
  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;
  z-index: 50;
  background-color: #fff;
  // .header__container
  &__container {
    min-height: toRem(75);
    padding-block: toRem(10);
    display: flex;
    gap: toRem(30);
    align-items: center;
    justify-content: space-between;
  }
  // .header__logo
  &__logo {
    position: relative;
    flex: 0 0 toRem(105);
    max-width: 100%;
    z-index: 3;
  }
  // .header__body
  &__body {
    position: relative;
    display: flex;
    @include adaptiveValue("gap", 50, 20, 0, $containerWidth, 767.98);
    align-items: center;
    justify-content: start;
    @media (max-width: $mobile) {
      display: flex;
      flex-direction: column;
      row-gap: toRem(40);
      padding: toRem(100) toRem(15) toRem(30);
      position: fixed;
      inline-size: 100%;
      block-size: 100%;
      inset-inline-start: 100%;
      inset-block-start: 0;
      overflow: auto;
      background: url("../img/header/bg-burger.webp") 0 0 repeat;
      transition: inset-inline-start 0.5s;
      &::before {
        content: "";
        position: fixed;
        inset-inline-start: 0;
        inset-block-start: 0;
        inline-size: 100%;
        block-size: toRem(75);
        z-index: 2;
        background-color: #fff;
      }
      .menu-open & {
        inset-inline-start: 0;
      }
    }
  }
  // .header__menu
  &__menu {
    flex-grow: 1;
  }
  // .header__list
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    @include adaptiveValue("column-gap", 48, 20, 0, $containerWidth, 767.98);
    @media (max-width: $mobile) {
      flex-direction: column;
      gap: toRem(20);
    }
  }
  // .header__item
  &__item {
    padding: toRem(3) toRem(5);
    position: relative;
    &::before {
      content: "";
      inline-size: 100%;
      block-size: 100%;
      position: absolute;
      inset-block-start: 0;
      inset-inline-start: 0;
      background: $gradienColor;
      border-radius: toRem(8);
      color: #313c45;
      opacity: 0;
      transition: all 0.3s;
    }
    @media (any-hover: hover) {
      &:hover {
        color: #fff;
        &::before {
          opacity: 1;
        }
      }
    }
  }
  // .header__link
  &__link {
    position: relative;
    line-height: 156.25%;
    @media (max-width: $mobile) {
      font-size: toRem(28);
      font-weight: 700;
    }
  }
  // .header__action
  &__action {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: toRem(12);
    flex-shrink: 0;
  }
}
.menu-icon {
  display: none;
  @media (max-width: $mobile) {
    display: block;
    justify-self: end;
    inline-size: toRem(30);
    block-size: toRem(18);
    position: relative;
    &::before,
    &::after {
      content: "";
    }
    span,
    &::before,
    &::after {
      position: absolute;
      inset-inline-start: 0;
      inline-size: 100%;
      block-size: toRem(2);
      background-color: $mainColor;
      transition: all 0.3s;
    }
    span {
      inset-block-start: 50%;
      transform: translate(0, -50%);
    }
    &::before {
      inset-block-start: 0;
    }
    &::after {
      inset-block-end: 0;
    }
    .menu-open & {
      span {
        display: none;
      }
      &::before {
        inset-block-start: 45%;
        transform: rotate(-45deg) translate(0, -45%);
      }
      &::after {
        inset-block-end: 45%;
        transform: rotate(45deg) translate(0, 45%);
      }
    }
  }
}
