.footer {
  background-color: #f0f0f0;
  position: relative;
  &::before {
    content: "";
    inline-size: 100%;
    block-size: toRem(90);
    background-color: #fff;
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
  }
  // .footer__container
  &__container {
    position: relative;
    z-index: 3;
  }
  // .footer__subscribe
  &__subscribe {
  }
  // .footer__body
  &__body {
  }
  // .footer__bottom
  &__bottom {
  }
}
.subscribe-footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: toRem(20);
  background-color: #000;
  @include adaptiveValue("padding-block", 43, 32);
  @include adaptiveValue("padding-inline", 64, 24);
  border-radius: toRem(20);
  @media (max-width:$tablet){
    grid-template-columns: auto;
  }
  // .subscribe-footer__title
  &__title {
    @media (max-width:$tablet){
      text-align: center;
    }
  }
  // .subscribe-footer__form
  &__form {
    width: 100%;
    justify-self: end;
    @media (max-width:$tablet){
      justify-self: center;
    }
  }
}
.form-subscribe {
  max-width: toRem(350);
  // .form-subscribe__input-wrapper
  &__input-wrapper {
    position: relative;
    width: 100%;
  }
  span {
    position: absolute;
    inset-block-start: 50%;
    left: toRem(16);
    transform: translateY(-50%);
    color: rgba(0, 0, 0, 0.4);
    pointer-events: none;
    &::before {
      font-size: toRem(20);
    }
  }
  &__input {
    min-height: toRem(48);
    width: 100%;
    background-color: #fff;
    border-radius: toRem(62);
    padding-inline-start: toRem(48);
    &::placeholder {
      color: rgba(0, 0, 0, 0.4);
    }
  }

  &__button {
    background-color: #fff;
    color: #000;
    min-height: toRem(46);
    width: 100%;
    border-radius: toRem(62);
    margin-top: 0.5rem;
  }
}
//========================================================================================================================================================

.body-footer {
  @include adaptiveValue("padding-block-start", 50, 32);
  @include adaptiveValue("padding-block-end", 50, 40);
  display: grid;
  grid-template-columns: 20.16129% 1fr;
  @include adaptiveValue("column-gap", 112, 70, 0, $containerWidth, 991.98);
  row-gap: toRem(30);
  @media (max-width:$tablet){
    grid-template-columns: auto;
  }
  // .body-footer__content
  &__content {
  }
  // .body-footer__menu
  &__menu {
  }
}
.content-footer {
  display: grid;
  @include adaptiveValue("gap", 24, 14);
  // .content-footer__logo
  &__logo {
    @include adaptiveValue("font-size", 34, 28);
    font-family: "IntegralCF";
  }
  // .content-footer__text
  &__text {
    font-size: toRem(14);
    line-height: 157.142857%; /* 22/14 */
    color: rgb(0, 0, 0, 0.6);
  }
  // .content-footer__action
  &__action {
  }
}
.action-footer {
  padding-block-start: toRem(10);
  display: flex;
  flex-wrap: wrap;
  gap: toRem(12);
  // .action-footer__item
  &__item {
    inline-size: toRem(28);
    aspect-ratio: 1;
    background-color: #fff;
    border-radius: 50%;
    border: toRem(1) solid rgb(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    @media (any-hover: hover){
      &:hover{
        background-color: #000;
        border: none;
        .action-footer__link::before{
          color: #fff;
        }
      }
    }
  }
  // .action-footer__link
  &__link {
    &::before{
      transition: color 0.5s;
      font-size: toRem(13);
    }
  }
}
.menu-footer {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-between;
  column-gap: toRem(20);
  row-gap: toRem(30);
  @media (max-width:$mobile){
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  }
  @media (max-width: toEm(600)){
    grid-template-columns: 1fr;
    row-gap: toRem(20);
  }
  // .menu-footer__item
  &__item {
  }
  // .menu-footer__title
  &__title {
    font-weight: 500;
    letter-spacing: toRem(3);
    text-transform: uppercase;
    list-style: none;
    position: relative;
    &::before,
    &::marker,
    &::-webkit-details-market {
      display: none;
    }
    ._init & {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: row-reverse;
			gap: toRem(25);
			@media (max-width: toEm(600)) {
				background-color: $greyLightColor;
				padding-block: toRem(10);
        border-radius: toRem(8);
			}
			&::before {
				display: block;
        position: absolute;
        inset-block-start: 50%;
        transform: translateY(-50%);
        inset-inline-end: toRem(10);
				transition: transform 0.3s;
				font-size: toRem(14);
			}
		}
		._init[open] & {
			&::before {
				transform: scale(1, -1) translateY(50%);
			}
		}
  }
  // .menu-footer__list
  &__list {
    overflow: hidden;
    @include adaptiveValue("padding-block-start", 26, 16);
  }
  // .menu-footer__element
  &__element {
    &:not(:last-child) {
      margin-block-end: toRem(15);
    }
  }
  // .menu-footer__link
  &__link {
    line-height: 118.75%; /* 19/16 */
    color: $greyColor;
    position: relative;
    padding-block-end: toRem(4);
    &::before{
      content:'';
      inline-size: 0;
      block-size: toRem(1);
      background-color: #000;
      position: absolute;
      inset-block-end: 0;
      inset-inline-start: 0;
      transition: inline-size 0.5s;
    }
    @media (any-hover: hover){
      &:hover{
        &::before{
          inline-size: 100%;
        }
      }
    }
  }
}
//========================================================================================================================================================

.bottom-footer {
  // @include adaptiveValue("padding-block-start", 43, 32);
  padding-block-start: toRem(20);
  @include adaptiveValue("padding-block-end", 82, 40);
  border-top: toRem(1) solid $greyLightColor;
  display: flex;
  gap: toRem(20);
  align-items: center;
  justify-content: space-between;
  @media (max-width:$mobile){
    flex-direction: column;
    justify-content: center;
  }
  // .bottom-footer__copy
  &__copy {
    font-size: toRem(14);
    color: $greyColor;
  }
  // .bottom-footer__items
  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: toRem(12);
  }
  // .bottom-footer__item
  &__item {
    inline-size: toRem(47);
    block-size: toRem(30);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: toRem(6);
    background-color: #ffffff;
    img {
      max-width: 100%;
    }
    @media (max-width:$mobileSmall){
      inline-size: toRem(40);
      block-size: toRem(25);
    }
  }
}
