.cart {
  position: relative;
  transition: padding-block-start 0.5s;
  // .cart__container
  &__container {
    padding-block-start: toRem(24);
    @include adaptiveValue("padding-block-end", 80, 50);
    border-top: toRem(1) solid $greyLightColor;
  }
  // .cart__breadcrumbs
  &__breadcrumbs {
  }
  // .cart__title
  &__title {
    margin-block-end: toRem(24);
  }
  // .cart__content
  &__content {
    display: grid;
    grid-template-columns: 57.66129% 40.725806%;
    gap: toRem(20);
    @media (max-width: toEm(800)) {
      grid-template-columns: auto;
    }
  }
  // .cart__body
  &__body {
  }
  // .cart__summary
  &__summary {
  }
}

.body-cart {
  // .body-cart__items
  &__items {
    display: grid;
    padding: toRem(20) toRem(24);
    @include adaptiveValue("gap", 48, 32);
    border-radius: toRem(20);
    border: $border;
    @media (max-width: toEm(500)) {
      padding: toRem(14);
    }
  }
  // .body-cart__wrapper
  &__wrapper {
    position: relative;
    &:not(:last-child) {
      &::before {
        content: "";
        inline-size: 100%;
        block-size: toRem(1);
        background-color: $greyLightColor;
        position: absolute;
        @include adaptiveValue("inset-block-end", -24, -16);
      }
    }
  }
  // .body-cart__item
  &__item {
  }
}
.item-body-cart {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: toRem(16);

  // .item-body-cart__image
  &__image {
    max-width: toRem(124);
    aspect-ratio: 1;
    padding: toRem(15);
    background-color: #eeedec;
    border-radius: toRem(8);
    display: flex;
    img {
      max-width: 100%;
      aspect-ratio: 1;
      object-fit: contain;
      filter: drop-shadow(-5px 5px 5px rgba(106, 104, 102, 0.35));
    }
    @media (max-width: toEm(500)) {
      max-width: toRem(99);
      padding: toRem(8);
    }

  }
  // .item-body-cart__info
  &__info {
    @media (max-width: toEm(500)) {
      align-self: end;
    }
  }
  &__header {
    display: flex;
    gap: toRem(4);
    justify-content: space-between;
    align-items: start;
  }
  // .item-body-cart__title
  &__title {
    position: relative;
    &:not(:last-child) {
      margin-block-end: toRem(8);
    }
    &::before{
      content:'';
      inline-size: 0;
      block-size: toRem(1);
      background-color: $mainColor;
      position: absolute;
      inset-inline-start: 0;
      inset-block-end: 0;
      transition: inline-size 0.5s;
    }
    @media (any-hover: hover){
      &:hover::before{
        inline-size: 100%;
      }
    }
  }
  // .item-body-cart__title-link
  &__title-link {
    font-size: toRem(20);
    font-weight: 700;
    @media (max-width: toEm(500)) {
      font-size: toRem(16);
    }
  }
  // .item-body-cart__details
  &__details {
    margin-block-end: toRem(15);
  }
  // .item-body-cart__attribute
  &__attribute {
    @media (max-width: toEm(500)) {
      font-size: toRem(12);
    }
    &:not(:last-child) {
      margin-block-end: toRem(8);
    }
    span:last-child {
      color: $greyColor;
    }
  }
  // .item-body-cart__price
  &__price {
    font-size: toRem(24);
    line-height: 133.333333%; /* 32/24 */
    font-weight: 700;
    @media (max-width: toEm(500)) {
      font-size: toRem(20);
    }
  }
  // .item-body-cart__buttons
  &__bottom {
    display: grid;
    grid-template-columns: repeat(2, auto);
    position: relative;
    justify-content: space-between;
    align-items: center;
    @media (max-width: toEm(350)) {
      grid-template-columns: 1fr;
    }
  }
  // .item-body-cart__button
  &__button {
    &::before {
      color: #ff3333;
    }
  }
  // .item-body-cart__quantity
  &__quantity {
    @media (max-width: toEm(350)) {
      justify-self: end;
    }
  }
}

//========================================================================================================================================================

.order-summary {
  display: grid;
  gap: toRem(24);
  border: $border;
  border-radius: toRem(24);
  padding: toRem(20) toRem(24) toRem(33);
  align-self: start;
  @media (max-width: $mobile) {
    padding: toRem(14);
  }
  // .order-summary__title
  &__title {
    font-size: toRem(24);
    line-height: 133.333333%; /* 32/24 */
    font-weight: 700;
  }
  // .order-summary__items
  &__items {
    border-bottom: toRem(1) solid $greyLightColor;
  }
  // .order-summary__item
  &__item {
    display: flex;
    justify-content: space-between;
    font-size: toRem(20);
    line-height: 135%; /* 27/20 */
    margin-block-end: toRem(20);
  }
  // .order-summary__lable
  &__lable {
    color: $greyColor;
  }
  // .order-summary__value
  &__value {
    font-weight: 700;
    &--discount {
      color: #ff3333;
    }
  }
  // .order-summary__total
  &__total {
    display: flex;
    justify-content: space-between;
    font-size: toRem(20);
    .order-summary__value {
      font-size: toRem(24);
    }
    .order-summary__lable {
      color: $mainColor;
    }
  }
  // .order-summary__promo
  &__promo {
  }
  // .order-summary__button
  &__button {
    inline-size: 100%;
    display: flex;
    align-items: center;
    gap: toRem(12);
    span::before {
      transform: rotate(180deg) translateY(toRem(-2));
      font-size: toRem(18);
    }
    &.button {
      min-height: toRem(60);
      inline-size: 100%;
      @media (max-width: $mobile) {
        min-height: toRem(54);
      }
    }
  }
}
.promo {
  // .promo__input-wrapper
  &__input-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: toRem(12);
    @media (max-width: $tablet) and (min-width: toRem(800)) {
      flex-direction: column;
    }
  }
  // .promo__input-body
  &__input-body {
    position: relative;
    inline-size: 100%;
    span {
      position: absolute;
      inset-block-start: 50%;
      inset-inline-start: toRem(20);
      transform: translateY(-50%);
      &::before {
        font-size: toRem(21);
        color: rgba(0, 0, 0, 0.4);
        font-weight: 500;
      }
      @media (max-width: toEm(400)) {
        display: none;
      }
    }
  }
  // .promo__input
  &__input {
    background-color: #f0f0f0;
    border-radius: toRem(62);
    min-height: toRem(48);
    &::placeholder {
      color: rgba(0, 0, 0, 0.4);
    }
    @media (min-width: toEm(400)) {
      padding-inline-start: toRem(52);
    }
    @media (max-width: toEm(399.98)) {
      &::placeholder {
        text-align: center;
      }
    }
  }
  // .promo__button
  &__button {
    min-height: toRem(48);
    background-color: $mainColor;
    color: #fff;
    min-width: toRem(120);
    border-radius: toRem(62);
    @media (max-width: $tablet) and (min-width: toRem(800)) {
      inline-size: 100%;
    }
    @media (max-width: $mobileSmall) {
      min-width: toRem(88);
    }
  }
}
