.category {
  padding-block-start: toRem(134);
  @include adaptiveValue("padding-block-end", 80, 50);
  position: relative;
  transition: padding-block-start 0.5s;
  .hidden & {
    padding-block-start: toRem(96);
  }
  @media (max-width: $mobile) {
    padding-block-start: toRem(126);
    .hidden & {
      padding-block-start: toRem(88);
    }
  }
  @media (max-width: toEm(599.98)) {
    padding-block-start: toRem(105);
    .hidden & {
      padding-block-start: toRem(67);
    }
  }
  @media (max-width: toEm(401.98)) {
    padding-block-start: toRem(121);
    .hidden & {
      padding-block-start: toRem(67);
    }
  }
  // .category__breadcrumbs
  &__breadcrumbs {
  }
  // .category__body
  &__body {
  }
}

.body-category {
  // .body-category__container
  &__container {
    display: flex;
    gap: toRem(20);
    align-items: flex-start;
  }
  // .body-category__filter
  &__filter {
    flex-basis: toRem(295);
    flex-shrink: 0;
    padding: toRem(20);
    border-radius: toRem(20);
    border: $border;
  }
  &__content {
    flex-grow: 1;
  }
  // .body-category__header
  &__header {
  }
  // .body-category__items
  &__items {
    border-bottom: $border;
    &:not(:last-child) {
      padding-block-end: toRem(26);
    }
  }
  // .body-category__item

  &__item {
  }
  // .body-category__pages
  &__pages {
  }
}
//========================================================================================================================================================

.filter {
  // .filter__header
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: toRem(15);
    padding-bottom: toRem(24);
    border-bottom: $border;
  }
  // .filter__title
  &__title {
    font-size: toRem(20);
    font-weight: 700;
  }
  &__button {
    inline-size: toRem(24);
    aspect-ratio: 1;
    border-radius: toRem(8);
    transition: background-color 0.5s;
    cursor: default;
    &::before {
      font-size: toRem(18);
      color: $greyColor;
    }
    // @media (any-hover: hover){
    //   &:hover{
    //     background-color: $greyLightColor;
    //   }
    // }
  }
  // .filter__list
  &__list {
    &:not(:last-child) {
      padding-block: toRem(24);
    }
  }
  // .filter__item
  &__item {
    &:not(:last-child) {
      margin-block-end: toRem(20);
    }
  }
  // .filter__link
  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $greyColor;
    span {
      &::before {
        transform: rotate(-90deg);
        font-size: toRem(12);
      }
    }
  }
  // .filter__body
  &__body {
  }
}

.body-filter {
  // .body-filter__item
  &__item {
  }
  // .body-filter__button
  &__button {
  }
}
.item-filter {
  padding-block: toRem(24);
  // box-shadow: 0px toRem(-1) 0px 0px $greyLightColor;
  &:not(:last-child) {
    border-top: $border;
  }
  // .item-filter__header
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    cursor: pointer;
    &::marker {
      display: none;
    }
  }
  // .item-filter__title
  &__title {
    font-size: toRem(20);
    font-weight: 700;
  }

  // .item-filter__content
  &__content {
  }
  // .item-filter__body
  &__body {
    padding-block-start: toRem(20);
  }
  // .item-filter__color
  &__color {
  }
  // .item-filter__icon
  &__icon {
  }
  // .item-filter__size
  &__size {
  }
  // .item-filter__list
  &__list {
  }
  &[open] ._icon-more-arrow::before {
    transform: rotate(180deg) scale(1, 1);

    transition: transform 0.5s;
  }

  &:not([open]) ._icon-more-arrow::before {
    transform: rotate(180deg) scale(1, -1);
    transition: transform 0.5s;
  }
}

.filter-price {
  padding-block-end: toRem(24);
  // .filter-price__range
  &__range {
  }
}
//========================================================================================================================================================
.header-body-category {
  display: flex;
  gap: toRem(20);
  justify-content: space-between;
  align-items: end;
  margin-block-end: toRem(25);
  // .header-body-category__title
  &__title {
    @include adaptiveValue("font-size", 32, 24);
    font-weight: 700;
  }
  // .header-body-category__sort
  &__sort {
  }
}
.sort-header {
  display: flex;
  align-items: center;
  gap: toRem(12);
  // .sort-header__quantity
  &__quantity {
    color: $greyColor;
  }
  // .sort-header__select
  &__select {
  }
}
.select-sort-header {
  position: relative;
  span {
    color: $greyColor;
  }
  &--open {
    .select-sort-header__current {
      span::before {
        transform: scale(1, -1);
        transition: transform 0.5s;
      }
    }
  }
  // .select-sort-header__current
  &__current {
    position: relative;
    font-weight: 500;
    line-height: 137.5%;
    &::after {
      content: "";
      inline-size: 0;
      block-size: toRem(1);
      position: absolute;
      inset-inline-start: 0;
      inset-block-end: 0;
      background-color: $mainColor;
      transition: inline-size 0.5s;
    }
    @media (any-hover: hover) {
      &:hover::after {
        inline-size: 100%;
      }
    }
    span {
      &::before {
        font-size: toRem(12);
        padding-inline-start: toRem(5);
        transform: scale(1, 1);
        transition: transform 0.5s;
      }
    }
    @media (any-hover: hover) {
      &:hover {
      }
    }
  }
  // .select-sort-header__list
  &__list {
    text-align: right;
    position: absolute;
    inset-inline-end: 0;
    inset-block-start: toRem(40);
    z-index: 3;
    padding: toRem(15);
    color: #fff;
    background-color: $mainColor;
    border-radius: toRem(12);
  }
  // .select-sort-header__item
  &__item {
    &:not(:last-child) {
      margin-block-end: toRem(5);
    }
  }
  // .select-sort-header__link
  &__link {
    position: relative;
    line-height: 1.5;
    text-transform: capitalize;
    &::after {
      content: "";
      position: absolute;
      inset-inline-start: 0;
      inset-block-end: 0;
      inline-size: 0;
      block-size: toRem(1);
      background-color: #fff;
      transition: inline-size 0.5s;
    }
    @media (any-hover: hover) {
      &:hover::after {
        inline-size: 100%;
      }
    }
  }
}
//========================================================================================================================================================
.pages-category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: toRem(20);
  padding-block-start: toRem(26);
  // .pages-category__button
  &__button {
    display: flex;
    gap: toRem(8);
    align-items: center;
    min-height: toRem(36);
    border: $border;
    padding-inline: toRem(14);
    border-radius: toRem(8);
    transition: all 0.5s;
    span {
      &::before {
        font-size: toRem(12);
      }
    }
    // .pages-category__button--prev
    &--prev {
    }
    // .pages-category__button--nex
    &--nex {
      span::before {
        transform: rotate(-180deg);
      }
    }
    @media (any-hover: hover) {
      &:hover {
        background-color: $greyLightColor;
      }
    }
  }
  // .pages-category__list
  &__list {
    display: flex;
    gap: toRem(2);
  }
  // .pages-category__item
  &__item {
    inline-size: toRem(40);
    aspect-ratio: 1;
    border-radius: toRem(12);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s;
    // .pages-category__item--current
    &--current {
      background-color: $greyLightColor;
      .pages-category__link {
        color: $mainColor;
      }
    }
    @media (any-hover: hover) {
      &:hover {
        background-color: $greyLightColor;
      }
    }
  }
  // .pages-category__link
  &__link {
    font-size: toRem(14);
    font-weight: 500;
    color: $greyColor;
  }
}
