.title {
  font-family: "IntegralCF";
  @include adaptiveValue("font-size", 48, 32);
  text-transform: uppercase;
  &--big {
    @include adaptiveValue("font-size", 64, 36, 0, $containerWidth, 767.98);
  }
  &--center {
    text-align: center;
  }
  &--white {
    color: #fff;
  }
  &--small {
    @include adaptiveValue("font-size", 40, 32);
  }
}
.text {
  line-height: 137.5%; /* 22/16 */
  color: $greyColor;
}
.button {
  min-height: toRem(52);
  color: #fff;
  background-color: #000;
  border-radius: toRem(62);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  transition: all 0.5s;
  text-transform: capitalize;
  inline-size: toRem(210);
  @media (max-width: $mobileSmall) {
    inline-size: 100%;
    min-height: toRem(44);
  }
  @media (any-hover: hover) {
    &:hover {
      background-color: #686565;
      color: #fff;
    }
  }
  &--small {
    min-height: toRem(48);
    inline-size: toRem(166);
    @media (max-width: $mobile) {
      min-height: toRem(40);
      inline-size: toRem(113);
    }
  }
  &--transparent {
    color: #000;
    background-color: transparent;
    border: $border;
  }
}
.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(toRem(240), 1fr));
  column-gap: toRem(20);
  row-gap: toRem(40);
  overflow: hidden;
  transition: max-height 0.5s ease;
  @media (max-width: toEm(540)) {
    grid-template-columns: repeat(auto-fit, minmax(toRem(200), 1fr));
  }
}
.item-products {
  display: flex;
  flex-direction: column;
  gap: toRem(16);
  block-size: 100%;
  
  // .item-products__image-link
  &__image-link {
    width: 100%;
    aspect-ratio: 295 / 298;
    padding: toRem(30);
    background-color: #f2f0f1;
    border-radius: toRem(20);
    @media (max-width: toEm(540)) and (min-width: toRem(390)) {
      padding: toRem(15);
    }
    img {
      aspect-ratio: 295 / 298;
      width: 100%;
      object-fit: contain;
      filter: drop-shadow(-10px 10px 10px rgba(60, 38, 12, 0.35));
      transition: transform 0.5s;
      @media (any-hover: hover) {
        &:hover {
          transform: scale(1.03);
        }
      }
    }
  }
  //.item-products__body
  &__body {
    display: flex;
    flex-direction: column;
    gap: toRem(8);
    flex-grow: 1;
  }

  // .item-products__title
  &__title {
    flex-grow: 1;

    @media (any-hover: hover) {
      &:hover .item-products__title-link::before {
        inline-size: 100%;
      }
    }
  }
  // .item-products__title-link
  &__title-link {
    position: relative;
    font-size: toRem(20);
    line-height: 135%; /* 27/20 */
    font-weight: 700;
    text-transform: capitalize;
    &::before {
      content: "";
      inline-size: 0;
      block-size: toRem(1);
      background-color: #000;
      position: absolute;
      inset-inline-start: 0;
      inset-block-end: 0;
      transition: inline-size 0.5s;
    }
    @media (max-width: toEm(540)) and (min-width: toRem(450)) {
      font-size: toRem(16);
    }
  }
  // .item-new__rating
  &__rating {
  }
  // .item-new__price
  &__price {
  }
}
.price {
  display: flex;
  column-gap: toRem(10);
  font-size: toRem(24);
  font-weight: 700;
  line-height: 133.333333%; /* 32/24 */
  @media (max-width: toEm(540)) and (min-width: toRem(440)) {
    font-size: toRem(20);
  }
  // .price__current
  &__current {
  }
  // .price__old
  &__old {
    display: none;
    &:not(:empty) {
      display: block;
      opacity: 0.4;
      text-decoration: line-through;
    }
  }
  // .price__discount
  &__discount {
    display: none;
    &:not(:empty) {
      display: block;
      font-size: toRem(12);
      color: #ff3333;
      background-color: rgba(255, 51, 51, 0.1);
      padding-inline: toRem(13);
      border-radius: toRem(62);
    }
  }
}
.quantity {
  display: flex;
  @include adaptiveValue("inline-size", 170, 110);
  min-height: toRem(52);
  background-color: #f0f0f0;
  border-radius: toRem(62);
  padding-inline: toRem(20);
  justify-items: center;
  @media (max-width: toEm(500)) {
    min-height: toRem(44);
  }
  &--small {
    @include adaptiveValue("iline-size", 126, 105);
    min-height: toRem(44);
    @media (max-width: toEm(500)) {
      min-height: toRem(31);
    }
  }
  // .quantity__button
  &__button {
    &::before {
      font-size: toRem(15);
      font-weight: 500;
    }
    @media (max-width: toEm(500)) {
      &::before {
        font-size: toRem(12);
      }
    }
  }
  // .quantity__input
  &__input {
    font-size: toRem(14);
    text-align: center;
  }
}
.breadcrumbs {
  margin-block-end: toRem(24);
  &__container {
    padding-block-start: toRem(24);
    border-top: toRem(1) solid $greyLightColor;
    @media (max-width: toEm(599.98)) {
      padding-block-start: toRem(20);
    }
  }
  // .breadcrumbs__list
  &__list {
    display: flex;
    gap: toRem(12);
    white-space: nowrap;
  }
  // .breadcrumbs__item
  &__item {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: toRem(12);
    &::before {
      font-size: toRem(11);
      transform: rotate(-90deg);
      color: $greyColor;
    }
  }
  // .breadcrumbs__link
  &__link {
    color: $greyColor;
    position: relative;
    line-height: 137.5%;
    &::before {
      content: "";
      inline-size: 0;
      block-size: toRem(1);
      background-color: $greyColor;
      position: absolute;
      inset-block-end: 0;
      inset-inline-start: 0;
      transition: inline-size 0.5s;
    }
    @media (any-hover: hover) {
      &:hover {
        &::before {
          inline-size: 100%;
        }
      }
    }
  }
}
.label-option {
  display: block;
  color: $greyColor;
  margin-block-end: toRem(16);
}
.items-option {
  display: flex;
  flex-wrap: wrap;
  gap: toRem(12);
  @media (max-width: $mobileSmall) {
    gap: toRem(8);
  }
}
.color-product {
  // .color-product__items
  &__label {
  }
  // .color-product__item
  &__item {
    position: relative;
    border-radius: 50%;
    inline-size: toRem(37);
    aspect-ratio: 1;
    border: $border;
  }
  // .color-product__input
  &__input {
    position: absolute;
    appearance: none;
    inline-size: 100%;
    block-size: 100%;
    cursor: pointer;
    &:checked {
      background: url("../img/icons/radio.svg") center no-repeat;
    }
  }
}
.size-product {
  // .size-product__items
  &__items {
  }
  // .size-product__item
  &__item {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    span {
      min-height: toRem(46);
      padding-inline: toRem(24);
      border-radius: toRem(62);
      background-color: #f0f0f0;
      display: flex;
      align-items: center;
      transition: all 0.5s;
      @media (max-width: $mobileSmall) {
        min-height: toRem(39);
        padding-inline: toRem(20);
        font-size: toRem(14);
      }
    }
    &--small span {
      min-height: toRem(39);
      padding-inline: toRem(20);
      font-size: toRem(14);
    }
  }
  // .size-product__input
  &__input {
    appearance: none;
    position: absolute;
    opacity: 0;
    -webkit-appearance: none;
    &:checked + span {
      background-color: #000;
      color: #fff;
    }
  }
}
.image-product {
  max-width: 100%;
  object-fit: contain;
}
.item-customers {
  position: relative;
  padding-block: toRem(28);
  padding-inline: toRem(32);
  border: $border;
  border-radius: toRem(20);
  display: grid;
  @include adaptiveValue("gap", 15, 8);
  align-content: start;
  @media (max-width: $mobileSmall) {
    padding: toRem(24);
  }
  &__button {
    position: absolute;
    inset-block-start: toRem(28);
    inset-inline-end: toRem(32);
    border: none;
    background-color: transparent;
    cursor: pointer;
    span {
      &::before {
        color: $greyColor;
        font-size: toRem(20);
      }
    }
  }
  // .item-customers__rating
  &__rating {
    .rating__value {
      display: none;
    }
  }
  // .item-customers__use
  &__use {
    font-size: toRem(20);
    line-height: 120%; /* 24/20 */
    font-weight: 700;
    display: flex;
    gap: toRem(4);
    span {
      &::before {
        color: #01ab31;
      }
    }
  }
  // .item-customers__text
  &__text {
    line-height: 137.5%; /* 22/16 */
    color: $greyColor;
    max-height: toRem(110);
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: $greyLightColor;
    p {
      &:not(:last-child) {
        margin-block-end: toRem(5);
      }
    }
  }
  // .item-customers__date
  &__date {
    font-weight: 500;
    color: $greyColor;
  }
}
