// .header
.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  background-color: #fff;
  // .header__sign-up
  &__sign-up {
  }
  // .header__main
  &__main {
  }
}
.sign-up {
  transition: max-height 0.5s;
  background-color: #000;
  overflow: hidden;
  position: relative;
  z-index: 4;
  max-height: toRem(80);
  pointer-events: auto;
  
  &.hidden {
    max-height: 0;
    pointer-events: none;
  }
  // .sign-up__container
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: toRem(10);
    padding-block: toRem(11);
  }
  // .sign-up__body
  &__body {
    color: #fff;
    font-size: toRem(14);
    display: flex;
    flex-wrap: wrap;
    gap: toRem(5);
    flex-grow: 1;
    justify-content: center;
  }
  // .sign-up__text
  &__text {
  }
  // .sign-up__link
  &__link {
    font-weight: 500;
    text-decoration: underline;
    text-transform: capitalize;
    transition: color 0.5s;
    @media (any-hover: hover) {
      &:hover {
        color: #f69d9d;
      }
    }
  }
  // .sign-up__button
  &__button {
    &::before {
      color: #fff;
      font-size: toRem(13);
      transition: color 0.5s;
      @media (max-width: toEm(420)) {
        font-size: toRem(10);
      }
    }
    @media (any-hover: hover) {
      &:hover::before {
        color: #f69d9d;
      }
    }
  }
}

.main-header {
  background-color: #ffffff;
  position: relative;
  z-index: 3;
  // .main-header__container
  &__container {
    padding-block: toRem(24);
    display: flex;
    @include adaptiveValue("gap", 40, 20, 0, $containerWidth, 900);
    align-items: center;
    justify-content: space-between;
    position: relative;
    @media (max-width: $mobile) {
      padding-block: toRem(20);
    }
  }
  // .main-header__logo
  &__logo {
    position: relative;
    z-index: 3;
    font-family: "IntegralCF";
    // font-size: toRem(32);
    @include adaptiveValue("font-size", 32, 25);
    transform: translateY(toRem(-3));
    @media (min-width: toEm(600)) {
    }
    @media (max-width: toEm(599.98)) {
      flex-grow: 1;
      text-align: center;
    }
  }
  // .main-header__menu
  &__menu {
  }
  // .main-header__search
  &__search {
    @media (min-width: toEm(600)) {
      flex-grow: 1;
      min-width: toRem(250);
    }
  }
  // .main-header__action
  &__action {
  }
}
.menu {
  position: relative;
  @media (max-width: toEm(900)) {
    position: fixed;
    inset-block-start: var(--header-height);
    inset-inline-start: -100%;
    inline-size: 100%;
    block-size: 100%;
    padding: toRem(20) toRem(40);
    overflow: auto;
    background-color: #f0f0f0;
    transition: all 0.5s;
    &::before {
      content: "";
      position: fixed;
      inset-block-start: 0;
      inset-inline-start: 0;
      inline-size: 100%;
      background-color: #fff;
      z-index: 3;
    }
    .menu-open & {
      inset-inline-start: 0;
    }
  }
  // .menu__list
  &__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: toRem(24);
    row-gap: toRem(5);
    @media (max-width: toEm(899.98)) {
      flex-direction: column;
      row-gap: toRem(40);
    }
  }
  // .menu__item
  &__item {
  }
  //.menu__item-sublist
  &__item-sublist {
  }
  // .menu__link
  &__link {
    position: relative;
    line-height: 137.5%;
    &::after {
      content: "";
      display: block;
      inline-size: 0;
      block-size: toRem(1);
      background-color: #000;
      position: absolute;
      inset-block-end: 0;
      inset-inline-start: 0;
      transition: inline-size 0.5s;
    }
    @media (any-hover: hover) {
      &:hover::after {
        inline-size: 100%;
      }
    }
    @media (max-width: toEm(899.98)) {
      font-size: toRem(32);
    }
  }
  // .menu__button
  &__button {
    inline-size: toRem(16);
    aspect-ratio: 1;
    &::before {
      transition: all 0.5s;
      font-size: toRem(11);
    }
    .open & {
      &::before {
        transition: all 0.5s;
        transform: scale(1, -1);
      }
    }
    @media (max-width: toEm(899.98)) {
      inline-size: toRem(30);
      &::before {
        font-size: toRem(16);
      }
    }
    @media (any-hover: hover) {
      &:hover {
        &::before {
          color: rgba(0, 0, 0, 0.4);
        }
      }
    }
  }
  // .menu__sublist
  &__sublist {
    padding-block: toRem(10);
    padding-inline: toRem(20);
    @media (min-width: toEm(900)) {
      position: absolute;
      inset-block-start: toRem(40);
      inset-inline-start: toRem(-20);
      background-color: $mainColor;
      color: #fff;
      border-radius: toRem(12);
    }
    @media (max-width: toEm(899.98)) {
      font-size: toRem(20);
    }
  }
  // .menu__subitem
  &__subitem {
    position: relative;
    line-height: 137.5%;
    &::after {
      content: "";
      display: block;
      inline-size: 0;
      block-size: toRem(1);
      background-color: #ffffff;
      position: absolute;
      inset-block-end: 0;
      inset-inline-start: 0;
      transition: inline-size 0.5s;
    }
    &:not(:last-child) {
      margin-block-end: toRem(10);
    }
    @media (any-hover: hover) {
      &:hover::after {
        inline-size: 100%;
      }
    }
  }
  // .menu__sublink
  &__sublink {
    font-size: toRem(14);
    opacity: 0.8;
    @media (max-width: toEm(899.98)) {
      font-size: toRem(24);
    }
  }
}
.search {
  .search-open & {
    opacity: 1;
    visibility: visible;
    &::before {
      content: "";
      position: fixed;
      height: 100%;
      width: 100%;
    }
  }
  // .search__open
  &__button-open {
    display: none;
    inline-size: toRem(24);
    aspect-ratio: 1;
    position: relative;
    span::before {
      font-size: toRem(20);
    }
    @media (max-width: toEm(599.98)) {
      display: block;
    }
  }
  // .search__body
  &__body {
    flex-grow: 1;
    position: relative;
    @media (max-width: toEm(599.98)) {
      position: absolute;
      inset-block-end: toRem(-48);
      inset-inline-start: 0;
      inline-size: 100%;
      padding-block: toRem(10);
      padding-inline: toRem(15);
      background-color: #fff;
      opacity: 0;
      visibility: hidden;
      transition: all 0.5s;
    }
    .search-open & {
      opacity: 1;
      visibility: visible;
      box-shadow: 0 toRem(4) toRem(15) rgba(0, 0, 0, 0.216);
    }
  }
  // .search__input
  &__input {
    border-radius: toRem(62);
    background-color: #f0f0f0;
    min-height: toRem(48);
    padding-inline-start: toRem(52);
    position: relative;
  }
  // .search__button
  &__button {
    position: absolute;
    block-size: 100%;
    inset-inline-start: 0;
    inset-block-end: 0;
    inline-size: toRem(52);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    &::placeholder {
      color: rgba(0, 0, 0, 0.4);
    }
    span::before {
      font-size: toRem(20);
      color: rgba(0, 0, 0, 0.4);
      transition: all 0.5s;
    }
    @media (any-hover: hover) {
      &:hover {
        span::before {
          transform: scale(1.1);
        }
      }
    }
    @media (max-width: toEm(599.98)) {
      inset-inline-start: toRem(15);
    }
  }
}
.action-main-header {
  position: relative;
  z-index: 3;
  display: flex;
  gap: toRem(14);
  // .action-main-header__item
  &__item {
    inline-size: toRem(24);
    aspect-ratio: 1;
    &::before {
      transition: transform 0.5s;
      font-size: toRem(22);
    }
    @media (any-hover: hover) {
      &:hover {
        &::before {
          transform: scale(1.1);
        }
      }
    }
  }
}
.icon-menu {
  display: none;
  @media (max-width: toEm(899.98)) {
    display: block;
    inline-size: toRem(20);
    block-size: toRem(14);
    position: relative;
    z-index: 3;
    flex-shrink: 0;
    transition: all 0.5s;
    @media (any-hover: none) {
      cursor: default;
    }
    span,
    &::before,
    &::after {
      content: "";
      background-color: #000;
      inline-size: 100%;
      block-size: toRem(2);
      position: absolute;
      inset-inline-end: 0;
      transition: all 0.5s;
    }
    span {
      inset-block-start: 50%;
      transform: translate(0, -50%);
    }
    &::before {
      inset-block-start: 0;
    }
    &::after {
      inset-block-end: 0;
    }
    .menu-open & {
      span {
        inline-size: 0;
      }
      &::before {
        inset-block-start: calc(50% - toRem(1));
        transform: rotate(-45deg);
      }
      &::after {
        inset-block-end: calc(50% - toRem(1));
        transform: rotate(45deg);
      }
    }
  }
}
