.hero {
  padding-block-start: toRem(41);
  background-color: #f2f0f1;
  // .hero__container
  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    @include adaptiveValue("gap", 30, 15, 0, $containerWidth, 767.98);
    gap: toRem(30);
    @media (max-width: $mobile) {
      grid-template-columns: auto;
    }
  }
  // .hero__body
  &__body {
    display: grid;
    @include adaptiveValue("gap", 32, 20);
    @include adaptiveValue("padding-block-end", 20, 10);
  }
  // .hero__title
  &__title {
  }
  // .hero__text
  &__text {
    max-width: toRem(545);
  }
  // .hero__button
  &__button {
  }
  // .hero__advantages
  &__advantages {
  }
  // .hero__image
  &__image {
    align-self: end;
    position: relative;
    @media (min-width: $mobile) {
      transform: translateX(5%);
    }
    img {
      max-width: 100%;
      aspect-ratio: 1;
      object-fit: cover;
      object-position: top;
    }
    &::before,
    &::after {
      content: "";
      aspect-ratio: 1;
      position: absolute;
      background: url("../img/hero/hero-decor.svg") 0 0 / 100% no-repeat;
    }
    &::before {
      inline-size: 9.3%;
      inset-inline-start: 0;
      inset-block-start: 40%;
    }
    &::after {
      inline-size: 15.3%;
      inset-inline-end: 0;
      inset-block-start: 6%;
    }
  }
}
.advantages-hero {
  padding-block-start: toRem(16);
  // .advantages-hero__items
  &__items {
    display: grid;
    grid-template-columns: repeat(3, auto);
    @include adaptiveValue("gap", 64, 12);
    @media (max-width: $mobileSmall) {
      grid-template-columns: repeat(2, auto);
    }
  }
  // .advantages-hero__item
  &__item {
    position: relative;
    @media (min-width: $mobileSmall) {
      &:nth-child(3n + 1),
      &:nth-child(3n + 2) {
        &::after {
          content: "";
          inline-size: toRem(1);
          block-size: 100%;
          position: absolute;
          @include adaptiveValue("inset-inline-end", -32, -12);
          inset-block-start: 0;
          inset-inline-end: 0;
          background-color: $greyLightColor;
        }
      }
    }
    @media (max-width: $mobile) {
      justify-items: center;
    }
    @media (max-width: $mobileSmall) {
      &:last-child:nth-child(2n + 1) {
        grid-column: span 2;
      }
      &:nth-child(2n + 1) {
        &::after {
          content: "";
          inline-size: toRem(1);
          block-size: 100%;
          position: absolute;
          @include adaptiveValue("inset-inline-end", -32, -12);
          inset-block-start: 0;
          inset-inline-end: 0;
          background-color: $greyLightColor;
        }
      }
    }
  }
  // .advantages-hero__quantity
  &__quantity {
    @include adaptiveValue("font-size", 40, 24, 0, $containerWidth, 991.98);
    font-weight: 700;
    margin-bottom: toRem(8);
  }
  // .advantages-hero__lable
  &__label {
    line-height: 137.5%; /* 22/16 */
    color: $greyColor;
    @include adaptiveValue("font-size", 16, 12);
  }
}
//========================================================================================================================================================
.brands {
  background-color: #000;
  color: #fff;
  // .brands__container
  &__container {
    padding-block: toRem(40);
  }
  // .brands__items
  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: toRem(20);
    @media (max-width: $tablet) {
      justify-content: space-around;
    }
  }
  // .brands__item
  &__item {
    img {
      max-width: 100%;
      @include adaptiveValue("block-size", 38, 22);
    }
  }
}
//========================================================================================================================================================
.products {
  @include adaptiveValue("padding-block-start", 72, 40);
  @include adaptiveValue("padding-block-end", 80, 40);
  // .products__container
  &__container {
    display: grid;
    @include adaptiveValue("gap", 128, 80);
  }
  // .products__body
  &__content {
    position: relative;
    &:not(:last-child) {
      &::before {
        content: "";
        position: absolute;
        inset-inline-start: 0;
        @include adaptiveValue("inset-block-end", -64, -40);
        inline-size: 100%;
        block-size: toRem(1);
        background-color: $greyLightColor;
      }
    }
    &--new {
    }
    &--top {
    }
  }
  // .products__title
  &__title {
    &:not(:last-child) {
      @include adaptiveValue("margin-block-end", 55, 32);
    }
  }
  // .products__body
  &__body[data-show-more] {
    position: relative;
  }

  // .body-category__items
  &__items {
  }
  // .body-category__item
  &__item {
  }
  // .products__button
  &__button {
    justify-self: center;
    span {
      &:first-child {
        display: block;
        .expanded & {
          display: none;
        }
      }
      &:last-child {
        display: none;
        .expanded & {
          display: block;
        }
      }
    }
    @media (max-width: $mobile) {
      inline-size: 100%;
    }
  }
}
.products__items {
  &:not(:last-child) {
    @include adaptiveValue("margin-block-end", 36, 24);
  }
}
//========================================================================================================================================================
.browse {
  // .browse__container
  &__container {
  }
  // .browse__body
  &__body {
    @include adaptiveValue("padding-block-start", 70, 40);
    @include adaptiveValue("padding-block-end", 76, 27);
    @include adaptiveValue("padding-inline", 64, 10);
    background-color: #f2f0f1;
    border-radius: toRem(40);
    @media (max-width: $mobile) {
      border-radius: toRem(20);
    }
  }
  // .browse__title
  &__title {
    @include adaptiveValue("margin-block-end", 64, 28);
  }
  // .browse__items
  &__items {
    display: grid;
    gap: toRem(20);
    grid-template-columns: minmax(toRem(280), 36.601%) 0.9962fr minmax(toRem(280), 36.601%);
    @media (max-width: $tablet) {
      grid-template-columns: repeat(2, auto);
    }
    @media (max-width: toEm(600)) {
      grid-template-columns: auto;
    }
  }
  // .browse__item
  &__item {
    position: relative;
    border-radius: toRem(20);
    overflow: hidden;
    background-color: #fff;
    aspect-ratio: 407 / 289;
    transition: all 0.5s;
    @media (min-width: $tablet) {
      &:nth-child(4n + 2),
      &:nth-child(4n + 3) {
        grid-column: span 2;
        aspect-ratio: 684 / 289;
      }
    }
    @media (max-width: $mobile) {
      aspect-ratio: 3 / 1.6;
    }
    @media (any-hover: hover) {
      &:hover {
        box-shadow: toRem(5) toRem(5) toRem(15) rgba(0, 0, 0, 0.3);
      }
    }
  }
  // .browse__image
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  // .browse__label
  &__label {
    position: absolute;
    @include adaptiveValue("inset-inline-start", 36, 24);
    @include adaptiveValue("inset-block-start", 25, 16);
    @include adaptiveValue("font-size", 36, 24);
    font-weight: 700;
  }
}
//========================================================================================================================================================
.customers {
  @include adaptiveValue("padding-block-start", 80, 50);
  @include adaptiveValue("padding-block-end", 80, 50);
  // .customers__container
  &__container {
    position: relative;
  }
  // .customers__header
  &__header {
    display: flex;
    gap: toRem(20);
    align-items: end;
    justify-content: space-between;
    @include adaptiveValue("margin-block-end", 40, 24);
  }
  // .customers__title
  &__title {
  }
  // .customers__buttons
  &__buttons {
    display: inline-flex;
    gap: toRem(12);
  }
  // .customers__button
  &__button {
    inline-size: toRem(24);
    aspect-ratio: 1;
    &::before {
      font-size: toRem(18);
      transition: all 0.5s;
    }
    // .customers__button--prev
    &--prev {
      @media (any-hover: hover) {
        &:hover {
          &::before {
            transform: scale(1.2);
          }
        }
      }
    }
    // .customers__button--new
    &--new {
      &::before {
        transform: rotate(-180deg);
      }
      @media (any-hover: hover) {
        &:hover {
          &::before {
            transform: rotate(-180deg) scale(1.2);
          }
        }
      }
    }
  }
  // .customers__items
  &__items {
    position: relative;
    &::before,
    &::after {
      content: "";
      inline-size: 100%;
      block-size: 100%;
      position: absolute;
      inset-block-start: 0;
      backdrop-filter: blur(toRem(2));
      z-index: 2;
    }
    &::before {
      inset-inline-start: -100%;
    }
    &::after {
      inset-inline-end: -100%;
    }
  }
  // .customers__slider
  &__slider {
    overflow: visible;
    cursor: grab;
  }
  // .customers__wrapper
  &__wrapper {
  }
  // .customers__slide
  &__slide {
    height: auto;
  }
}
