.product {
  // padding-block-start: toRem(24);
  @include adaptiveValue("padding-block-end", 78, 40);
  position: relative;
  transition: padding-block-start 0.5s;
  // .product__breadcrumbs
  &__breadcrumbs {
  }
  // .product__main
  &__main {
    &:not(:last-child) {
      @include adaptiveValue("margin-block-end", 80, 40);
    }
  }
  // .product__info
  &__info {
    &:not(:last-child) {
      @include adaptiveValue("margin-block-end", 64, 40);
    }
  }
}
//========================================================================================================================================================

.main-product {
  // margin-bottom: toRem(80);
  &__container {
    display: flex;
    gap: toRem(20);
    justify-content: space-between;
    align-items: center;
    @media (max-width: $tablet) {
      flex-direction: column;
    }
  }
  &__slider,
  &__body {
    flex-shrink: 1;
    min-width: 0;
    @media (max-width: toEm(1199.98)) {
      flex-grow: 1;
      flex-basis: auto;
      width: 100%;
    }
  }
  &__slider {
    @media (min-width: toEm(1200)) {
      flex-basis: toRem(580);
    }
  }
  &__body {
    @media (min-width: toEm(1200)) {
      flex-basis: toRem(600);
    }
  }
}

.slider-product {
  display: flex;
  column-gap: toRem(43);
  row-gap: toRem(12);
  align-items: center;

  @media (max-width: toEm(1199.98)) {
    flex-direction: column-reverse;
  }

  &__main {
  }
  &__previews {
  }
}

.main-slider-product {
  max-width: toRem(153);
  height: toRem(530);
  overflow: hidden;

  @media (max-width: toEm(1199.98)) {
    width: toRem(487);
    max-width: 100%;
    height: auto;
  }

  &__wrapper {
  }

  &__slide {
    aspect-ratio: 153 / 167;
    width: 100%;
    height: toRem(167);
    overflow: hidden;
    border-radius: toRem(20);
    background-color: #f0f0f0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: toRem(20);
      border: toRem(1) solid transparent;
    }
    // @media (max-width: toEm(1199.98)) {
    //   max-width: toRem(153);
    //   flex: 0 1 toRem(153);
    // }
    @media (max-width: toEm(550)) {
      height: auto;
    }
    &.swiper-slide-thumb-active {
      &::before {
        border: toRem(1) solid $mainColor;
      }
    }
  }

  &__image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    @media (min-width: $tablet) {
      padding: toRem(8);
    }
  }
}

.previews-slider-product {
  width: 100%;
  max-width: toRem(374);
  aspect-ratio: 374 / 384;

  &__wrapper {
  }

  &__slide {
    width: 100%;
    height: 100%;
    border-radius: toRem(20);
    background-color: #f0f0f0;
  }

  &__image {
    max-width: 100%;
    aspect-ratio: 374 / 384;
    object-fit: contain;
  }
}

//========================================================================================================================================================

.body-main-product {
  display: grid;
  gap: toRem(48);
  // .body-main-product__header
  &__header {
    position: relative;
    display: grid;
    gap: toRem(14);
    &::before {
      content: "";
      inline-size: 100%;
      block-size: toRem(1);
      background-color: $greyLightColor;
      position: absolute;
      inset-inline-start: 0;
      inset-block-end: toRem(-24);
    }
  }
  // .body-main-product__title
  &__title {
    span {
      white-space: nowrap;
    }
  }
  // .body-main-product__rating
  &__rating {
  }
  // .body-main-product__price
  &__price {
  }
  // .body-main-product__text
  &__text {
    padding-block-start: toRem(6);
  }
  // .body-main-product__option
  &__option {
  }
}
.option-product {
  position: relative;
  &:not(:last-child) {
    &::before {
      content: "";
      inline-size: 100%;
      block-size: toRem(1);
      background-color: $greyLightColor;
      position: absolute;
      inset-inline-start: 0;
      inset-block-end: toRem(-24);
    }
  }
  // .option-product__color
  &__color {
    .color-product__item:nth-child(1) {
      background-color: #4f4631;
    }
    .color-product__item:nth-child(2) {
      background-color: #314f4a;
    }
    .color-product__item:nth-child(3) {
      background-color: #31344f;
    }
  }
  // .option-product__size
  &__size {
  }
  // .option-product__buttons
  &__buttons {
    display: flex;
    gap: toRem(20);
    justify-content: space-between;
    &.button {
      @media (min-width: $mobile) {
        min-height: toRem(44);
      }
    }
    @media (max-width: toRem(400)) {
      gap: toRem(12);
    }
  }
  // .option-product__quantity
  &__quantity {
  }
  // .option-product__button
  &__button {
    &.button {
      @media (min-width: $tablet) {
        flex-grow: 1;
      }
      @media (max-width: $tablet) {
        @include adaptiveValue("inline-size", 400, 150);
      }
    }
  }
}

//========================================================================================================================================================
.info-product {
  // .info-product__container
  &__container {
  }
  // .info-product__tabs
  &__tabs {
  }
}
.tabs {
  // .tabs__navigation
  &__navigation {
    display: flex;
  }
  // .tabs__title
  &__title {
    flex-grow: 1;
    color: $greyColor;
    @include adaptiveValue("font-size", 20, 16);
    line-height: 110%; /* 22/20 */
    margin-block-end: toRem(32);
    &::after {
      content: "";
      inline-size: 100%;
      block-size: toRem(1);
      background-color: $greyLightColor;
    }
    &._tab-active {
      color: #000;
      font-weight: 500;
      &::after {
        block-size: toRem(2);
        background-color: #000;
      }
    }
  }
  // .tabs__content
  &__content {
  }
  // .tabs__body
  &__body {
  }
}
.body-tabs {
  // .body-tabs__reviews
  &__reviews {
  }
}
.reviews-product {
  // .reviews-product__header
  &__header {
  }
  // .reviews-product__items
  &__items {
    display: grid;
    gap: toRem(20);
    grid-template-columns: repeat(2, 1fr);
    &:not(:last-child) {
      @include adaptiveValue("margin-block-end", 36, 20);
    }
    @media (max-width: $mobile) {
      grid-template-columns: auto;
    }
  }
  // .reviews-product__item
  &__item {
  }
  // .reviews-product__button
  &__button {
    justify-self: center;
  }
}
.header-reviews {
  display: flex;
  gap: toRem(20);
  justify-content: space-between;
  align-items: center;
  margin-block-end: toRem(32);
  @media (max-width: $mobileSmall) {
    gap: toRem(8);
  }
  // .header-reviews__title
  &__title {
    // white-space: nowrap;
    @include adaptiveValue("font-size", 24, 16);
    font-weight: 700;
    span {
      font-size: toRem(16);
      color: $greyColor;
      padding-inline-start: toRem(6);
      @media (max-width: $mobile) {
        font-size: toRem(14);
      }
    }
  }
  // .header-reviews__actions
  &__actions {
  }
}
.actions-reviews {
  display: flex;
  align-items: center;
  gap: toRem(10);
  & > * {
    background-color: #f0f0f0;
    border-radius: toRem(62);
    transition: background-color 0.5s;
    @media (any-hover: hover) {
      &:hover {
        background-color: #d2d0d0;
      }
    }
  }
  // .actions-reviews__filtr
  &__filter {
    inline-size: toRem(48);
    aspect-ratio: 1;
    &::before {
      font-size: toRem(24);
    }
    @media (max-width: $mobile) {
      inline-size: toRem(40);
      &::before {
        font-size: toRem(20);
      }
    }
  }
  // .actions-reviews__select
  &__select {
  }
  // .actions-reviews__button
  &__button {
    font-weight: 500;
    @media (max-width: $mobile) {
      font-size: toRem(12);
    }
  }
}
.select-header {
  position: relative;
  inline-size: toRem(120);
  block-size: toRem(48);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: $mobile) {
    block-size: toRem(40);
  }
  @media (max-width: toEm(550)) {
    display: none;
  }
  // .select-header__link-current
  &__link-current {
    display: flex;
    gap: toRem(21);
    flex-direction: row-reverse;
    span {
      transition: all 0.5s;
      transform: scale(1, 1);
      &::before {
        font-size: toRem(16);
      }
    }
  }
  &.open {
    .select-header__link-current {
      span {
        transition: all 0.5s;
        transform: scale(1, -1);
      }
    }
  }
  // .select-header__list
  &__list {
    position: absolute;
    inset-block-start: 120%;
    inset-inline-start: 0;
    overflow: hidden;
    inline-size: max-content;
    height: auto;
    background-color: $mainColor;
    color: #fff;
    box-shadow: 0 toRem(4) toRem(15) rgba(0, 0, 0, 0.216);
    z-index: 3;
    border-radius: toRem(12);
    padding-block: toRem(10);
    padding-inline: toRem(20);
  }
  // .select-header__item
  &__item {
    position: relative;
    cursor: pointer;
    padding-block: toRem(5);
    &:not(:last-child) {
      margin-block-end: toRem(10);
    }
  }
  // .select-header__link
  &__link {
    position: relative;
    padding-block: toRem(5);
    &::after {
      content: "";
      inline-size: 0;
      block-size: toRem(1);
      position: absolute;
      inset-inline-start: 0;
      inset-block-end: 0;
      background-color: #fff;
      transition: inline-size 0.5s;
    }
    @media (any-hover: hover) {
      &:hover::after {
        inline-size: 100%;
      }
    }
  }
}
//========================================================================================================================================================

.product-like {
  // .product-like__container
  &__container {
  }
  // .product-like__products
  &__products {
  }
  // .product-like__title
  &__title {
    @include adaptiveValue("margin-block-end", 55, 40);
  }
  // .product-like__body
  &__body {
  }
  // .product-like__items
  &__items {
  }
  // .product-like__item
  &__item {
  }
}



